.cc-journal-button {
  flex: 0 0 32px;

  &-icon {
    height: 24px;
    border: none;
  }
}

.document {
  .document-title {
    cursor: pointer;

    &:hover {
      text-shadow: 0 0 4px red;
    }
  }

  .controls {
    flex: none;

    button.campaign-composer-control {
      width: 32px;
      height: 30px;
    }
  }
}