.cc-sidebar-button {
  flex: 0 0 32px;

  &-icon {
    height: 24px;
    border: none;
  }
}

.document {
  .document-title {
    cursor: pointer;

    &:hover {
      text-shadow: 0 0 4px red;
    }
  }

  .controls {
    flex: none;

    button.campaign-composer-control {
      width: 32px;
      height: 30px;
    }
  }
}
.map {
  .map-thumbnail {
    flex: none;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 90px;
    border: none;
    padding-right: 20px;
  }

  .controls {
    flex: none;

    button.campaign-composer-control {
      width: 32px;
      height: 30px;
    }
  }
}