.cc-sidebar-button {
  display: flex;
  flex: 0 0 32px;

  &-icon {
    height: 24px;
    border: none;
    margin-right: 3px;
  }
}

.campaign-composer-loading-initial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    margin-bottom: 1em;
  }
}

.composer-modal-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-top: 0.5em;

  button {
    width: unset;
  }
}
